<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        <li><a href="{{ "" | absolute_url }}/">Home</a></li>
        <li><a href="https://github.com/josephwmarsh" target="_blank">My GitHub Profile</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="https://www.linkedin.com/in/joseph-w-marsh" target="_blank" class="button special fit">Connect on LinkedIn</a></li>
	</ul>
</nav>
