<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">View Portfolio</a></li>
                </ul>
            </div>
        </div>
    </section>

    <div id="main">

        {% include tiles.html %}

        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>About Me</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="https://www.linkedin.com/in/joseph-w-marsh" target="_blank" class="button next">Connect on LinkedIn</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
